# Deploy — Environment Variables (DO NOT COMMIT TO GITHUB)

# Supabase
SUPABASE_URL=https://dbpzhhgapumjiihxleuc.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRicHpoaGdhcHVtamlpaHhsZXVjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODYxNTc4NTUsImV4cCI6MjEwMTczMzg1NX0.rfBpw05ZnZwyHRqcBHCmcEW-rFQ6tvKL4kGst6mVK2Q

# GitHub OAuth
GITHUB_CLIENT_ID=Ov23li06wspCo6NYLqXj
GITHUB_CLIENT_SECRET=c84d929a83aaafa51614dd66e382bfe536783432

# Webhook
GITHUB_WEBHOOK_SECRET=your_webhook_secret_here

# Fernet Encryption Key (generate with: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())")
FERNET_KEY=56Oj_I20AMMbgYmdYZHfohHWm9pQKdfegY8MXpGIKh0=

# Redis
REDIS_URL=redis://localhost:6379

# Server
PORT=8000
MAX_RUNNING_CONTAINERS=2
MAX_APPS_PER_USER=1
PORT_RANGE_START=8001
PORT_RANGE_END=8010
